<script setup lang="ts">
  import { computed } from 'vue'
  import { handleBackground } from '../layoutHelper'

  import imgUrl from '../assets/cover-2.jpeg'
  const style = computed(() => handleBackground(new URL(imgUrl, import.meta.url).href, true))

</script>

<template>
  <div class="slidev-layout cover grid" :style="style">
    <div class="my-auto w-full text-center">
      <img alt="logo" src="../assets/logo.png">
      <div id="slogan">NOTRE JOB, VOUS AIDER À CHOISIR LE VÔTRE</div>
    </div>
  </div>
</template>

<style lang="postcss">
  .slidev-layout.cover {
    img[alt=logo] {
      width: 295px;
      margin: 1.6rem;
      display: inline;
    }

    #slogan {
      font-size: 13px;
      color: white;
    }
  }
</style>