<template>
  <div class="slidev-layout end grid">
    <div class="my-auto w-full text-center">
      <img alt="logo" src="../assets/logo-black.png">
      <div id="slogan">NOTRE JOB S'ARRÊTE LÀ OÙ COMMENCE LE VÔTRE</div>
    </div>
  </div>
</template>

<style lang="postcss">
  .slidev-layout.end {
    img[alt=logo] { width: 295px; margin: 1.6rem; display:inline; } 
    #slogan {font-size: 13px;}
  }
</style>