<script setup lang="ts">
import { computed } from 'vue'
import { handleBackground} from '../layoutHelper'

const props = defineProps({
  class: {
    type: String,
  },
})


import imgUrl from '../assets/pic-28.jpeg'
const style = computed(() => handleBackground(new URL(imgUrl, import.meta.url).href, false, '81%')) 
import maskUrl from '../assets/mask-blue.png'
const mask = computed(() => new URL(maskUrl, import.meta.url).href) 

</script>

<template>
  <div class="grid grid-cols-10 w-full h-full">
    <div class="slidev-layout default image-right col-span-6" :class="props.class">
      <slot />
    </div>
    <div class="col-span-4" :style="style">
      <img :src="mask">
    </div>
  </div>
</template>
