<script setup lang="ts">
import { computed } from 'vue'
import { handleColorCode } from '../layoutHelper'

const props = defineProps({
  color: {
    default: 'blue',
  },
})

const style =  computed(() => handleColorCode(props.color))
</script>

<template>
  <div class="slidev-layout section grid"  :style="style" >
    <div class="my-auto w-full">
      <slot />
    </div>
    <img alt="logo" src="../assets/hellowork.png">
  </div>
</template>

<style lang="postcss">
  .slidev-layout.section {
    h1 {font-size: 80px; font-weight: 400; line-height: 80px;}
    h2 {font-size: 80px; font-weight: 800; line-height: 80px;}
    h3 {font-size: 40px; font-weight: 800; line-height: 40px;}
    .my-auto{margin-left: 10%;}
    img[alt=logo] {max-width: 8%; position: absolute; bottom: 30px; right: 30px}
  }
</style>