.timeline {
    margin: 50px 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
  .timeline li {
    transition: all 200ms ease-in;
  }
  .timestamp {
    width: 150px;
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100; 
  }
  .status {
    width: 150px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 3px solid #3e70ff;
    position: relative;
    transition: all 200ms ease-in ;
    font-size: 10px;
  }
    
  .status span {
    padding-top: 20px;
    text-align: left;
  }
  .status span:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #e8eeff;
    border-radius: 25px;
    border: 3px solid #3e70ff;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }