<script setup lang="ts">
import "./timeline.css";


interface timelineItem {
    date: string,
    titles: Array<string>
}

interface timelineData extends Array<timelineItem> { }

const props = defineProps<{
    data: timelineData
  }>()

</script>

<template>
    <div class="timeline">
        <div  v-for="item in data" v-click>
        <div class="timestamp">
            <span class="date">{{item.date}}</span>
        </div>
        <div class="status">
            <span> <ul><li v-for="title in item.titles">{{title}}</li></ul></span>
        </div>
        </div>
    </div>

</template>